/* 
============================================================================
                               Home Section
============================================================================ 
*/

main {
    position: relative;
    width: 100%;
    display: flex;
    gap: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .home-section {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------ Exclusive ------------------ */
main .intro, main .about, main .projects {
    width: 80%;
}

main .intro {
    position: relative;
    height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

/* 
============================================================================
                                  Fog
============================================================================ 
*/

.fog {
    position: absolute;
    top: 6rem; left: 20rem;
    width: 50rem; height: 50rem;

    object-fit: contain;
    mix-blend-mode: hard-light;

    pointer-events: none;
    user-select: none;
    will-change: transform, opacity;
    animation: floating-fog 60s linear infinite;
    z-index: 998;
}

@keyframes floating-fog {
    0% {
        transform: translateX(0);
        opacity: 0.1;
    }
    5%   { opacity: 1; }
    95%  { opacity: 0.5; }
    100% {
        transform: translateX(50rem);
        opacity: 0.1;
    }
}

.fog1 {
    position: absolute;
    left: -50rem;;
    width: 100%; height: 100%;

    object-fit: contain;
    mix-blend-mode: saturation;

    pointer-events: none;
    user-select: none;
    will-change: transform, opacity;
    animation: floating-fog-1 80s linear infinite;
    z-index: 998;
}

@keyframes floating-fog-1 {
    0% {
        transform: translateX(0);
        opacity: 0.1;
    }
    5% { 
        opacity: 1; 
        transform: translateY(10rem);
    }
    95%  { opacity: 0.1; }
    100% {
        transform: translateX(5rem) translateY(-10rem);
        opacity: 0.1;
    }
}

/* 
============================================================================
                                  Model
============================================================================ 
*/

.intro .model {
    width: 10rem;
    border: 2px dashed white;
}

/* 
============================================================================
                                  Main Profile
============================================================================ 
*/

.intro a {
    width: 40%; height: 60%;
    display: block;

    mix-blend-mode: screen; 
    will-change: transform;
    animation: profile-float 10s ease infinite alternate;
}

@keyframes profile-float {
    0%, 100% { transform: translateX(0); }
    30% { transform: translateY(-1rem); }
    50% { transform: translateY(0); }
    70% { transform: translateY(-1rem); }
}

.intro a:hover {
    mix-blend-mode: color-dodge;
    filter: blur(1px) drop-shadow(0 1px 5px red) invert();
}

.intro img {
    width: 100%; height: 100%;
    object-fit: contain;
    pointer-events: none;
}

/* 
============================================================================
                                  Main Info
============================================================================ 
*/

.intro .info {
    align-self: center;
}

.info .text-container {
    width: 100%;
    max-width: 80%;
}

.intro h1, .intro h4, .intro p {
    color: white;
}

.video-h1 {
    position: relative;

    margin-top: .5rem;
    font-family: New Rocker ,cursive, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    z-index: 0;
}

.video-h1::after{
  content: attr(data-text);
  position:absolute;
  inset:0;

  color: transparent;
  -webkit-text-stroke: 2px 2px 10px rgba(255, 0, 0, 0.6);
  text-shadow: 0 10px 20px rgba(0,0,0,.6);

  pointer-events:none;
  z-index: -1;
}

.video-h1 video {
    position: absolute;
    width: 1px; height: 1px;
    opacity: 0;
    pointer-events: none;
}

.video-h1 canvas {
    display: block;
    mix-blend-mode: exclusion;
    filter:
        drop-shadow(0 0 .1px rgb(255, 255, 255)) 
        saturate(1.2) 
        brightness(1.1) 
        contrast(1.5);
}

.intro p {
    margin-top: 2rem;
    font-size: 18px;
}

.info .name {
    font-family: Syncopate ,cursive, Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, black,white, gray, black, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-1px 1px 1px white) drop-shadow(1px -1px 1px black);
    letter-spacing: -1px;
}

/* 
============================================================================
                                  Main Button
============================================================================ 
*/

.intro .btn {
    position: relative;

    padding: 1rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 1rem;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.834);
    text-shadow:
        -2px -2px 30px rgba(181, 129, 253, 0.662),
        1px -1px 5px black,
        -1px  1px 5px black,
        1px  1px 5px black,
        0 0 15px white;
    filter: drop-shadow(0 1px 2px rgb(166, 0, 255)) drop-shadow(0 1px 5px white);

    cursor: pointer;
    transition: 0.3s ease;
    z-index: 0;
}

.intro .btn::before {
    content: "";
    position: absolute;
    left: -2px; top: -2px;
    width: calc(100% + 4px); 
    height: calc(100% + 4px);

    border-radius: 1rem;
    background: linear-gradient(45deg, 
        rgba(14, 45, 149, 0.888), rgba(113, 78, 255, 0.57), 
        rgba(195, 42, 255, 0.609), rgb(200, 7, 7));

    z-index: -1;
}

.intro .btn:hover {
    filter: none;
    text-shadow:
        -2px -2px 30px rgba(0, 0, 243, 0.662),
        1px -1px 5px rgb(86, 79, 236),
        -1px  1px 5px rgb(178, 4, 241),
        1px  1px 30px rgb(204, 130, 251),
        0 0 15px white;
    box-shadow: 8px 10px 20px black;
}

.intro .btn:hover::before {
    filter: blur(8px);
    background-size: 600%;
    animation: glowing 10s linear infinite;
}

@keyframes glowing {
    0%, 100% { background-position: 0 0; }
    50%  { background-position: 400% 0; }
}

.intro .btn:hover video {
    opacity: 0;
}

.btn video {
    position: absolute;
    width: 50%; height: 50%;
    
    object-fit: cover;
    border-radius: 1rem;
    mask-image: linear-gradient(to bottom, white, white 60%, rgba(255, 255, 255, 0.802),  rgba(255, 255, 255, 0.598) ,rgba(255, 255, 255, 0.214), transparent);
    transition: 0.3s linear;
}
