/* 
============================================================================
                             Projects Section
============================================================================ 
*/

.projects {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5rem;
    margin-top: 5rem;
}

.project-demo {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 6rem 0;
}
    
.project-demo video{
    position: absolute;
    left: .25rem; top: .25rem;
    width: 30rem;
    height: 14rem;

    object-fit: cover;
    border-radius: 1.5rem;

    z-index: 1;
}

/* ------------------------ Description ------------------------ */

.project-demo p {
    font-size: 18px;
    line-height: 1.7rem;
    color: white;
}

figcaption h3 {
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
    font-family: Syncopate ,cursive, Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, black,white, gray, black, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-1px 1px 1px white) drop-shadow(1px -1px 1px black);
}

.project-demo a{
    position: relative;
    width: 3rem;
    display: inline-block;

    margin-left: 2rem;

    transform: rotateY(180deg) rotateZ(10deg) scale(1);
    transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 2;
}

.project-demo a::after{
    content:"";
    position:absolute;
    inset:0;

    border-radius:50%;
    background: rgba(192, 192, 192, 0.336);

    transition: transform 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
    animation: link-indication 3s ease infinite;
    pointer-events:none;
    z-index:-1;
}

    @keyframes link-indication{
    0%   { transform: scale(1); }
    25%  { transform: scale(1.2); }
    35%  { transform: scale(1); }
    45%  { transform: scale(1.2); }
    55%,100% { transform: scale(1); }
}

.project-demo a:hover{
    transform: rotateY(180deg) rotateZ(10deg) scale(1.5);
}

.project-demo a:hover::after{
    transform: scale(0.45);
    background: rgba(255, 252, 252, 0.986);
    box-shadow: -1px -1px black, -2px -2px 2px black,
                -5px -5px 55px white, -10px -10px 100px white;
}

.project-demo a:hover .pulse,
.project-demo a:hover::after{
    animation: none;
}

.project-demo a .pulse {
    display: block;
    width: 100%;
    height: 100%;
    animation: link-indication 3s ease infinite;
}

.project-demo a img{
    display: block;
    width: 100%;
    pointer-events: none;
}

/* 
============================================================================
                             Videos
============================================================================ 
*/

.demo-01, .demo-02, .demo-03 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.demo-02 {
    justify-content: flex-end;
}

.project-demo .video-wrapper {
    position: relative;
    width: 30.5rem;
    height: 14.5rem;

    border-radius: 1.5rem;
    background: transparent;
    box-shadow: 0 0 8px white;

    overflow: hidden;
    transform: scale(1);
    transition: all .2s linear;
}

.video-wrapper:hover {
    box-shadow: 0 10px 5px black ;
    transform: scale(1.05);
}

.demo-01 .video-wrapper, .demo-03 .video-wrapper {
    animation:
        slide-in linear forwards,
        fade-out linear forwards;
        animation-timeline: view();
}

.demo-02 .video-wrapper {
    animation:
        slide-in-video2 linear forwards,
        fade-out linear forwards;
        animation-timeline: view();
}

@keyframes slide-in{
  0% { transform: translateX(-50%); }
  30%, 50% {transform: translateX(0);}
  100%  { transform: translateX(0); }
}

@keyframes fade-out{
  0%, 80% { opacity: 1; }
  100%  { opacity: 0; }
}

@keyframes slide-in-video2 {
  0% { transform: translateX(100%); }
  30%, 50% {transform: translateX(0);}
}

.project-demo .video-wrapper .video-background { 
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 1.5rem;
    background: repeating-conic-gradient(
        from 0deg,
        black 0 15deg,
        white 15deg 30deg
    );

    will-change: transform;
}

.demo-02 .video-wrapper .video-background {
    background: repeating-conic-gradient(
        from 0deg,
        white 0 15deg,
        black 15deg 30deg
    );
    box-shadow: 0 10px 20px rgba(0,0,0,.6);

    will-change: transform;
}

.video-wrapper:hover .video-background {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0) scale(1);
    }
    to {
        transform: rotate(360deg) scale(2);
    }
}

.demo-01 .video-wrapper, .demo-03 .video-wrapper {
    float: left;
    margin-right: 3rem;
}

.demo-02 .video-wrapper {
    margin-left: 3rem;
}

.demo-01 figcaption, .demo-02 figcaption, .demo-03 figcaption {
    width: 100%;
    height: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;

    animation: text-fade-in linear forwards;
    animation-timeline: view();
}

@keyframes text-fade-in {
    0%{
        opacity: 0;
    }
    30%, 50% {
        opacity: 1;
    }
}

/* 
============================================================================
                             More Projects
============================================================================ 
*/

.projects .more-projects {
    position: relative;
    width: 25rem;
    height: 5rem;

    text-align: center;
    border-radius: 5rem;
}

.projects .more-projects::after {
    content: "";
    position: absolute;
    left: .2rem; right: 0; top: 1rem;
    width: 100%;
    height: 100%;

    background-image: url(../images/more-projects-background.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    pointer-events: none;
}

.more-projects a {
    display: block;
    width: 100%;
    height: 100%;

    text-decoration: none;
    letter-spacing: 1.2px;
    font-size: 16px;
    color: white;
    text-shadow:0 0 1px white, 0 1px 1px black, 0 2px 1px black, 0 3px 1px black, 0 4px 1px white;
    
    animation: color-swapped 1s linear infinite;
}

@keyframes color-swapped {
    50% {
        color: gold;
        text-shadow: 0 0 1px black, 0 1px 1px black, 0 2px 1px black, 0 3px 1px black, 0 4px 1px black;
    }
}