.contact {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    will-change: opacity;
    transition: all 1s ease;
    z-index: 10;
}

.contact.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.contact-backdrop {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(66, 2, 2, 0.705), transparent 20%, rgba(129, 50, 50, 0.199) 95%);
    pointer-events: none;
}

.contact.is-open .contact-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;    
    will-change: transform;
    transform: scale(1.1);
    animation: transform 2s ease;
}

@keyframes transform {
    0% {
        transform: scale(1.3);
        object-position: -5rem 5rem;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        object-position: center center;
        opacity: 1;
    }
}

.cloud-transition, .cloud-transition1 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    opacity: 0;
    will-change: transform, opacity;
    z-index: 9999;
}

.contact.is-open .cloud-transition {
    left: -120rem; bottom: -110rem;
    animation: cloud-transition 2s ease;
}

@keyframes cloud-transition {
    0% {
        transform: translateX(0) translateY(0) scale(4);
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(250rem) translateY(-120rem) scale(4);
    }
}

.contact.is-open .cloud-transition1 {
    left: -50rem; bottom: -10rem;
    animation: cloud-transition1 2.5s ease
}

@keyframes cloud-transition1 {
    0% {
        opacity: 0;
        transform: rotateZ(90deg) scale(2);
    }
    1% { opacity: .5; }
    100% {
        opacity: 0.4;
        transform: translateX(150rem) translateY(-50rem) rotateZ(90deg);
    }
}

.contact .section-title {
    margin-top: 5rem;
    text-align: center;
}

/* ----------------- Input Field ----------------*/

.contact.is-open form {
    animation: open-mail 1s ease forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

@keyframes open-mail {
    from {
        opacity: 0;
        transform: translate(-50%, 0%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.contact form {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    width: 25rem;
    padding: 2rem;
    gap: 1rem;
    font-family: 'New Rocker', cursive, Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(75, 46, 46, 0.24);
    border: 1px solid gray;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    opacity: 0;
    will-change: transform, opacity;
}

.input {
    display: grid;
    gap: .4rem;
}

.input label {
    color: white;
}

.input input::placeholder, textarea::placeholder {
    font-weight: 700;
    font-family: 'New Rocker', cursive, Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .5px;
}

input:not(:placeholder-shown), textarea:not(:placeholder-shown) {
    letter-spacing: 0.05em;
    font-family: "New Rocker", cursive, Tahoma, Geneva, Verdana, sans-serif;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px gold;
  color: rgb(122, 4, 4);
  caret-color: red;
}

input::selection, textarea::selection {
  background: rgba(255, 174, 174, 0.849);
  color: black;
}


input {
    border: none;
    outline: none;
    border-radius: 1.5rem;
    padding: .8rem;
    will-change: transform;
    transition: transform .5s ease;
}

input:hover, textarea:hover {
    transform: scale(1.02);
}

textarea {
    height: 5rem;
    min-height: 5rem;
    max-height: 10rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    padding: .8rem;
    resize: vertical;
    will-change: transform;
    transition: transform .5s ease;
}

textarea:focus {
    box-shadow: 0 0 10px gold;
    color: rgb(122, 4, 4);
    caret-color: red;
}

.contact button {
    width: 6rem;
    justify-self: center;
    padding: .5rem 1rem;
    margin-bottom: 3rem;
    font-size: 20px;
    font-family: 'New Rocker', cursive, Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background: red;
    border: none;
    border-radius: 2rem;
    will-change: transform;
    transition: transform .5s ease;
}

.contact button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px red;
}

/* ---------------------  Mail ----------------- */

.mail {
    position: absolute;
    top: 76%; left: 50.3%;
    transform: translate(-50%, -50%) scale(1);
    width: 32rem;
    object-fit: contain;
    pointer-events: none;
    will-change: opacity;
    opacity: 0;
    z-index: 1;
}

.top-layer-mail {
    position: absolute;
    top: 58%; left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 28rem;
    object-fit: contain;
    pointer-events: none;
    opacity: 0;
    will-change: opacity;
}

.contact.is-open .mail, .contact.is-open .top-layer-mail {
    animation: mail-enter 1.5s linear forwards;
}

@keyframes mail-enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mail-decorator {
    position: absolute;
    top: 70%; left: 50%;
    transform: translate(-50%, -50%) rotate(6deg);
    object-fit: contain;
    width: 6rem;
    mix-blend-mode: saturation;
    z-index: 2;
}

/* ----------------- Wax Stamp -------------------- */

.wax-stamp {
    position: absolute;
    top: 85%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2;
}

.wax-stamp img {
    width: 6rem;
    object-fit: contain;
}

.wax a {
    position: absolute;
    top: .6rem;
    transition: .3s linear;

}

.wax a:hover {
    filter: invert();
}

.wax > img {
    pointer-events: none;
    opacity: 0;
    will-change: opacity;
}

.contact.is-open .wax > img {
    animation: mail-enter 1.5s linear forwards;
}

.wax a img {
    width: 2.5rem;
    object-fit: contain;
    pointer-events: none;
    will-change: transform, opacity;
    opacity: 0;
    transform: scale(1);
}

.contact.is-open .wax-1 a img {
    animation: stamp-contact-enter .5s ease forwards;
    animation-delay: 1s;
}

.contact.is-open .wax-2 a img {
    animation: stamp-contact-enter .5s ease forwards;
    animation-delay: 1.5s;
}

.contact.is-open .wax-3 a img {
    animation: stamp-contact-enter .5s ease forwards;
    animation-delay: 2s;
}

@keyframes stamp-contact-enter {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.wax-1 a {
    left: 1.65rem; 
}

.wax-1 a img {
    background: white;
    border-radius: 50%;
}

.wax-2 a {
    left: 7.7rem;
}

.wax-3 a {
    right: 1.35rem;
    top: .15rem;
}

.wax-3 a img {
    width: 3.4rem;
}
