.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
}

.skills .solar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 55%;
    top: -7rem;
    perspective: 1200px;
    mix-blend-mode: screen;
    filter: contrast(1.1);
}

.solar-ring, .inner-ring, .outer-ring {
    pointer-events: none;
}

.solar-ring-container {
    position: absolute;
    width: 150%;
    height: 180%;
    transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    will-change: transform;
    animation: solar-orbit 100s linear infinite;
}

.solar-container .solar-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transform: scale(1);
}

.outer-ring-container {
    width: 100%;
    height: 100%;
    transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    will-change: transform;
    animation: outer-orbit 100s linear infinite;
}

.solar-container .outer-ring {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    will-change: transform;
    transform: scale(1);5}

.inner-ring-container {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%) rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    will-change: transform;
    animation: inner-orbit 100s linear infinite;
    z-index: 2;
}

.solar-container .inner-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    transform: scale(1);
    will-change: transform;
}

.scale-up.ente {
    animation: ringEnter 5s cubic-bezier(.2,.8,.2,1) forwards;
}

@keyframes ringEnter {
    from {
        transform: scale(0.1);
        opacity: 0.1;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes outer-orbit {
    0% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    }
    50% {
        transform: rotateX(60deg) rotateY(-20deg) rotateZ(180deg);      
    }
    100% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(360deg);
    }
}

@keyframes inner-orbit {
    0% {
        transform: translate(-50%, -50%) rotateX(70deg) rotateY(-20deg) rotateZ(360deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateX(65deg) rotateY(-20deg) rotateZ(180deg);           
    }
    100% {
        transform: translate(-50%, -50%) rotateX(70deg) rotateY(-20deg) rotateZ(0deg);      
    }
}

@keyframes solar-orbit {
    0% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(360deg);
    }
    50% {
        transform: rotateX(65deg) rotateY(-20deg) rotateZ(180deg);  
    }
    100% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    }
}

.solar-container .cloud {
    transform-style: preserve-3d;
    position: absolute;
    width: 150%;
    height: 180%;
    left: 0rem;
    object-fit: cover;
    pointer-events: none;
    will-change: transform;
    transform: translateX(-15rem) translateZ(-5rem) rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    animation: cloud-orbit 200s linear infinite;
}

@keyframes cloud-orbit {
    0% {
        transform: translateX(-15rem) translateZ(-5rem) rotateX(70deg) rotateY(-20deg) rotateZ(360deg);
    }
    50% {
        transform: translateX(-15rem) translateZ(-5rem) rotateX(65deg) rotateY(-20deg) rotateZ(180deg);       
    }
    100% {
        transform: translateX(-15rem) translateZ(-5rem) rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    }  
}

.cloud img.cloud-enter {
    animation: cloudFade 4s ease-in-out forwards;
}

@keyframes cloudFade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cloud img:nth-child(1) {
    position: absolute;
    top: 0; left: -8rem;
}

.cloud img:nth-child(2) {
    position: absolute;
    top: 0; right: 0;
}

.cloud img:nth-child(3) {
    position: absolute;
    right: 0; bottom: 0;
}

.cloud img:nth-child(4) {
    position: absolute;
    left: -10rem; bottom: -3rem;
}

/* ----------------------------------------------------- */
.solar-container .inner-icons {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    will-change: transform;
    transform-style: preserve-3d;
    animation: logo-outer-orbit 100s linear infinite;
    z-index: 10;
}

.inner-icons .anchor {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-style: preserve-3d;
}

.inner-icons .anchor:nth-child(1) { transform: rotateZ(0deg)   translateX(25rem); }
.inner-icons .anchor:nth-child(2) { transform: rotateZ(45deg)  translateX(25rem); }
.inner-icons .anchor:nth-child(3) { transform: rotateZ(90deg)  translateX(25rem); }
.inner-icons .anchor:nth-child(4) { transform: rotateZ(135deg) translateX(25rem); }
.inner-icons .anchor:nth-child(5) { transform: rotateZ(180deg) translateX(25rem); }
.inner-icons .anchor:nth-child(6) { transform: rotateZ(225deg) translateX(25rem); }
.inner-icons .anchor:nth-child(7) { transform: rotateZ(270deg) translateX(25rem); }
.inner-icons .anchor:nth-child(8) { transform: rotateZ(315deg) translateX(25rem); }

.inner-icons img {
    position: absolute;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border: 2px solid gold;
    border-radius: 50%;
    will-change: transform;
    transform: translate(-50%, -50%) rotateX(-70deg) rotateY(20deg);
}

@keyframes logo-outer-orbit {
    0% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    }   
    50% {
        transform: rotateX(65deg) rotateY(-20deg) rotateZ(180deg);
    }     
    100% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(360deg);
    }
}

/* ------------------------------------------------------- */

/* .solar-container .inner-icons {
    position: absolute;
    perspective: 1000px;
    z-index: 10;
}

.inner-icons img {
    position: absolute;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border: 2px solid gold;
    border-radius: 50%;
    will-change: transform;
}

.inner-icons img:nth-child(1) {
    transform: translate3d(.5rem, 5rem, 0);
    animation: html 100s linear infinite;
}

.inner-icons img:nth-child(2) {
    transform: translate3d(19rem, -5rem, 0);
    animation: css 100s linear infinite;
}

.inner-icons img:nth-child(3) {
    transform: translate3d(22.5rem, -12.5rem, 0);
    animation: js 100s linear infinite;
}

.inner-icons img:nth-child(4) {
    transform: translate3d(12rem, -14.5rem, -5rem);
    animation: java 100s linear infinite;
}

.inner-icons img:nth-child(5) {
    transform: translate3d(-2rem, -11.5rem, -8rem);
    animation: python 100s linear infinite;
}

.inner-icons img:nth-child(6) {
    transform: translate3d(-15.5rem, -5.5rem, -5rem);
    animation: php 100s linear infinite;
}

.inner-icons img:nth-child(7) {
    transform: translate3d(-24.5rem, 3rem, 0rem);
    animation: tailwind 100s linear infinite;
}

.inner-icons img:nth-child(8) {
    transform: translate3d(-21.5rem, 8.5rem, 0rem);
    animation: bootstrap 100s linear infinite;
}
 */

/* ----------------------------------------------------- */
/* @keyframes html {
    0%, 100% { transform: translate3d(.5rem, 5rem, 0); }
    12.5% { transform: translate3d(19rem, -5rem, 0); }
    25% { transform: translate3d(22.5rem, -12.5rem, 0); }
    37.5% { transform: translate3d(12.5rem, -14.5rem, -5rem); }
    50% { transform: translate3d(-2rem, -11.5rem, -8rem); }
    62.5% { transform: translate3d(-15.5rem, -5.5rem, -5rem); }
    75% { transform: translate3d(-24.5rem, 3rem, 0rem); }
    87.5% { transform: translate3d(-21.5rem, 8.5rem, 0rem); }
}

@keyframes css {
    0% { 
        transform: translate3d(19rem, -5rem, 0);
    }
}

@keyframes js {
    0% { 
        transform: translate3d(22.5rem, -12.5rem, 0)
    }
}

@keyframes java {
    0% { 
        transform: translate3d(12.5rem, -14.5rem, -5rem);
    }
}

@keyframes python {
    0% { 
        transform: translate3d(-2rem, -11.5rem, -8rem);
    }
}

@keyframes php {
    0% { 
        transform: translate3d(-15.5rem, -5.5rem, -5rem);
    }
}

@keyframes tailwind {
    0% { 
        transform: translate3d(-24.5rem, 3rem, 0rem);
    }
}
@keyframes bootstrap {
    0% { 
        transform: translate3d(-21.5rem, 8.5rem, 0rem);
    }
} */
