.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
}

.skills .solar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: -7rem;
    perspective: 1200px;
    mix-blend-mode: screen;
    filter: contrast(1.1);
}

.solar-ring, .inner-ring, .outer-ring {
    pointer-events: none;
}

.solar-ring-container {
    position: absolute;
    width: 150%;
    height: 180%;
    transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    will-change: transform;
    animation: solar-orbit 200s linear infinite;
}

.solar-container .solar-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transform: scale(1);
}

.outer-ring-container {
    width: 100%;
    height: 100%;
    transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    will-change: transform;
    animation: outer-orbit 160s linear infinite;
}

.solar-container .outer-ring {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    will-change: transform;
    transform: scale(1);
    /* transform-style: preserve-3d; */
}

.inner-ring-container {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%) rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    will-change: transform;
    animation: inner-orbit 100s linear infinite;
    z-index: 2;
}

.solar-container .inner-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    transform: scale(1);
    will-change: transform;
}

.scale-up.enter {
    animation: ringEnter 5s cubic-bezier(.2,.8,.2,1) forwards;
}

@keyframes ringEnter {
    from {
        transform: scale(0.1);
        opacity: 0.1;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes outer-orbit {
    0% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(360deg);      
    }
}

@keyframes inner-orbit {
    0% {
        transform: translate(-50%, -50%) rotateX(70deg) rotateY(-20deg) rotateZ(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateX(70deg) rotateY(-20deg) rotateZ(0deg);      
    }
}

@keyframes solar-orbit {
    0% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(360deg);
    }
    100% {
        transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    }
}

.solar-container .cloud {
    transform-style: preserve-3d;
    position: absolute;
    width: 150%;
    height: 180%;
    left: 0rem;
    object-fit: cover;
    pointer-events: none;
    transform: translateX(-10rem) translateZ(-5rem) rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    animation: cloud-orbit 350s linear infinite;
}

@keyframes cloud-orbit {
    0% {
        transform: translateX(-10rem) translateZ(-5rem) rotateX(70deg) rotateY(-20deg) rotateZ(360deg);
    }
    100% {
        transform: translateX(-10rem) translateZ(-5rem) rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
    }  
}

.cloud img.cloud-enter {
    animation: cloudFade 5s ease-in forwards;
}

@keyframes cloudFade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cloud img:nth-child(1) {
    position: absolute;
    top: 0; left: -8rem;
}

.cloud img:nth-child(2) {
    position: absolute;
    top: 0; right: 0;
}

.cloud img:nth-child(3) {
    position: absolute;
    right: 0; bottom: 0;
}

.cloud img:nth-child(4) {
    position: absolute;
    left: -10rem; bottom: -3rem;
}
